.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
!node_modules/xterm/**
!node_modules/xterm-addon-fit/**
!node_modules/node-pty/**
!node_modules/nan/**
